  body {
      font-family: Arial, Helvetica, sans-serif;
      background: linear-gradient(135deg, #000000, #f11919);
      text-align: center;
      color: rgb(255, 255, 255);
      margin: 0;
      padding: 0;
    }
    header {
      padding: 25px;
      background-color: rgb(0, 0, 0);
    }
    nav a {
      margin: 10px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
    .card-custom {
      background: rgba(39, 0, 0, 0.589);
      margin: 10px;
      padding: 15px;
      border-radius: 12px;
      transition: transform 0.3s;
      cursor: pointer;
    }
    .card-custom:hover {
      transform: scale(1.03);
      background-color: rgba(172, 162, 162, 0.623);
    }
    footer {
      margin-top: 25px;
      padding: 20px;
      background: rgba(0, 0, 0, 0.4);
    }
    h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(255, 255, 255);
background-color: rgb(29, 29, 29);


    }